/*
 * Pretty Robust Internet Station Management
 * Da stylez
 * Created by Maurice Wahba, (c)2013
 */

[class^="icon-"] {
	/*background-image: url('bootstrap/glyphicons-halflings.png');*/
}

body {
	padding-top: 50px;
}

#header {
	margin: 10px 0;
	position: relative;
}

#header h2 {
	margin: 0;
}

#header .btn-toolbar {
	margin: 0;
	line-height: 40px;
}

#show-timeslots .timeslot .btn-group {
	top: -5px;
}

#logpager {
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

@media screen and (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
