/*
 * Pretty Robust Internet Station Management
 * Da stylez
 * Created by Maurice Wahba, (c)2013
 */

body {
	padding-top: 60px;
}

#header {
	margin: 10px 0;
	position: relative;
}

#header h2 {
	margin: 0;
}

#header .btn-toolbar {
	margin: 0;
	line-height: 40px;
}

#show-timeslots input[type=text], #show-timeslots input[type=number], #show-timeslots select {
	width: auto;
	display: inline;
}

#logpager {
	margin:0;
}

.form-actions {
	background: #EEE;
	margin: 20px 0;
	padding: 10px;
}